.accountSettings {
  .accountSettings__top {
    max-width: 280px;

    .coundown {
      margin-top: 10px;
    }
  }
}
.responsive_setting {
  @include getDown(600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.delete__top--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;

  .delete__top {
    max-width: 280px;

    .coundown {
      margin-top: 10px;
    }
  }
}
