.bridegroom {
    background-image: url("/landing/faq-bg2.svg");
    background-repeat: no-repeat;
    background-position: left top;


    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 15px;
        justify-content: center;
        align-content: center;

        &--container {
            transition: all 0.3s ease;

            &:hover {
                background-color: $secondaryColor;
                cursor: pointer;

                .view-btn {
                    background-color: white !important;
                    color: black;
                }

                h3,
                p {
                    color: white !important;
                }
            }

        }

        .info {
            display: flex;
            flex-direction: column;
            flex-basis: 1;
            justify-content: flex-start;
        }

        @include smMaxBreakPoint {
            grid-template-columns: repeat(auto-fill, 250px);
        }
    }
}