.bridegroom {


    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 15px;
        justify-content: center;
        align-content: center;

        .info {
            display: flex;
            flex-direction: column;
            flex-basis: 1;
            justify-content: flex-start;
        }

        @include smMaxBreakPoint {
            grid-template-columns: repeat(auto-fill, 250px);
        }
    }
}