.gift__collection {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;

    @include mdMaxBreakPoint {
        grid-template-columns: 100%;
    }

    &--left {
        // margin-right: -200px;
        z-index: 1000;
        margin: auto -100px auto auto;

        @include mdMaxBreakPoint {
            margin: auto;
        }

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    &--right {
        background-color: #F5F5F5;
        padding: 60px 100px;

        @include mdMaxBreakPoint {
            padding: 10px
        }

    }
}