.heroSectionV3 {
  background: url("/landing/herov3.png"), url("/landing/backgroundbg.png");
  //   background-position: right, cover;
  background-position-y: top;
  background-position-x: right;
  background-size: 710px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 70px;

  //   .padding_0 {
  //     padding: 0;
  //   }

  // .navbarRoot__logo {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }

  .column-1 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .border_down {
      background: rgba(0, 0, 0, 0.15);
      width: 800px;
      height: 1px;
      margin-top: 20px;

      @include mdMaxBreakPoint {
        display: none;
      }
    }

    .hero_title {
      width: 846px;
      margin-top: 103px;

      @include mdMaxBreakPoint {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
      }
    }

    .responsive_from {
      @include smMaxBreakPoint {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }

  .mantine-1q8x8u2 {
    width: 325px;

    @include smMaxBreakPoint {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}