.honeymoon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include mdMaxBreakPoint {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  &--left {
    margin: auto;

    .btn-container {
      @include mdMaxBreakPoint {
        display: flex;
        justify-content: center;
      }
    }
  }

  &--right {
    @include smMaxBreakPoint {
      margin: auto;
    }

    .images {
      img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .left_img {
        max-width: 100%;

        img {
          max-width: 100%;
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }

      .small {
        // height: auto;
        width: 230px;

        @include mdMaxBreakPoint {
          width: 250px;
        }

        @include smMaxBreakPoint {
          // width: 130px;
          // width: 100%;
          object-fit: cover;
          height: 130px;
          width: 170px;
        }
      }

      .small1 {
        @include getDown(1024px) {
          width: 100%;
        }
      }

      .top_head {
        width: 300px;
        height: auto;

        img {
          max-width: 100%;
          object-fit: contain;
        }

        @include getDown(600px) {
          width: 100%;
        }
      }

      .small_xs {
        width: 100%;

        @include mdMaxBreakPoint {
          width: 100%;
        }

        @include smMaxBreakPoint {
          width: 100%;
        }
      }

      .large {
        width: 340px;

        @include mdMaxBreakPoint {
          width: 250px;
        }

        // @include smMaxBreakPoint {
        //   width: 160px;
        // }

        @include smMaxBreakPoint {
          object-fit: cover;
          height: 130px;
          width: 170px;
        }
      }
    }

    .responsive_img_part {
      @include getDown(768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}