.howWorks {
    // background-color: #d9e9e4;
    // background-color: $whiteColor;

    background-image: url("/landing/Ellipse 46.svg"), url("/landing/Ellipse 47.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;

    // background-image: url("/landing/Ellipse 47.svg");
    // background-repeat: no-repeat;
    // background-position: right bottom;


    &__wrapper {
        background-image: url("/landing/howWorksBG2.png");
        background-position: center;
        background-size: contain;
        height: 450px;
        background-repeat: no-repeat;

        @include lgMaxBreakPoint {
            background-image: none;
            height: auto;
        }

    }
}