.landingv2 {
    .slider {
        overflow: hidden;
        width: 100vw;
        height: 90vh;
        position: relative;
    }

    .slider .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        animation: slide 42s infinite;
    }

    .slider .slide:nth-child(1) {
        background-image: url('/landing/slider/slider1.svg');
        animation-delay: -7;
        background-position: center;
        background-size: cover;
    }

    .slider .slide:nth-child(2) {
        background-image: url('/landing/slider/slider2.svg');
        animation-delay: -14s;
        background-position: center;
        background-size: cover;
    }

    .slider .slide:nth-child(3) {
        background-image: url('/landing/slider/slider3.svg');
        animation-delay: -21s;
        background-position: center;
        background-size: cover;
    }

    .slider .slide:nth-child(4) {
        background-image: url('/landing/slider/slider4.svg');
        animation-delay: -28s;
        background-position: center;
        background-size: cover;
    }

    .slider .slide:nth-child(5) {
        background-image: url('/landing/slider/slider5.svg');
        animation-delay: -35s;
        background-position: center;
        background-size: cover;
    }

    .slider .slide:nth-child(6) {
        background-image: url('/landing/slider/slider6.svg');
        animation-delay: -42s;
        background-position: center;
        background-size: cover;
    }

    @keyframes slide {

        0%,
        15%,
        100% {
            transform: translateX(0);
            animation-timing-function: ease;
        }

        20% {
            transform: translateX(-100%);
            animation-timing-function: step-end;
        }

        95% {
            transform: translateX(100%);
            animation-timing-function: ease;
        }
    }
}