.landing {
    background-image: url("/landing/hero.jpg");
    background-size: cover;
    height: 65vh;
    background-position: center;
    position: relative;

    &__meet {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

        &--title {
            color: $textColor;
        }

        &--form {
            background-color: $primaryColor;
        }

        &--to {
            color: white;
        }
    }

}