.landing {
  background-image: url("/landing/hero.jpg");
  background-size: cover;
  height: 80vh;
  background-position: center;
  position: relative;

  @include mdMaxBreakPoint {
    height: 100vh;
  }

  &__meet {
    position: absolute;
    left: 50%;
    // bottom: 100px;
    top: 40%;
    transform: translateX(-50%);

    @include mdMaxBreakPoint {
      // bottom: 1%;
      top: 120px;
    }

    &--title {
      color: $textColor;
    }

    &--form {
      background-color: $primaryColor;
    }

    &--to {
      color: white;
    }
  }
}