.premiumPlan_main {

  background-image: url("/landing/Ellipse 46 (1).svg"), url("/landing/Ellipse 46.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;

  -webkit-animation: fade-up 4s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.25s both;
  animation: fade-up 4s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.25s both;

  // background-color: #fff4e4;
  @mixin heading_content {
    // color: #360036;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 48px */
    padding: 20px 0;
    margin-top: 22px;

    @include smMaxBreakPoint {
      font-size: 28px;
    }
  }

  @mixin list_content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 4px;
    margin-left: 30px;

    p {
      color: $primaryColor;
      text-align: center;
      font-family: DM Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 19.2px */
    }
  }

  .plan_card {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    @include mdMaxBreakPoint {
      padding-top: 0;
    }

    .free_card {
      border-top-left-radius: 8px;
      background: white;
      width: 300px;
      height: 460px;
      margin-top: 55px;
      border-bottom-left-radius: 8px;
      display: flex;
      flex-direction: column;
      background-image: url("/landing/freetree.png");
      background-repeat: no-repeat;
      background-position: left bottom;

      @include mdMaxBreakPoint {
        height: 400px;
      }

      h1 {
        @include heading_content();
      }

      .div_list {
        @include list_content();
      }

      @media (max-width: 612px) {
        border-radius: 8px;
      }
    }

    .paid_card {
      border-radius: 8px;
      background: $secondaryColor;
      width: 300px;
      height: 560px;
      display: flex;
      flex-direction: column;
      background-image: url("/landing/freetree.png");
      background-repeat: no-repeat;
      background-position: left bottom;
      position: relative;

      @include mdMaxBreakPoint {
        height: 400px;
      }

      h1 {
        @include heading_content();
        color: #f2bdff;
      }

      .div_list {
        @include list_content();

        p {
          color: #E5CFF7;
        }
      }
    }

    @media (max-width: 612px) {
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  }
}