.basicProfile {
  // &__top {
  //     &-wrapper {
  //         @include smMaxBreakPoint {
  //             flex-direction: column !important;
  //         }
  //     }
  // }

  &__details {
    display: flex;

    &--left {
      flex: 1;
    }

    &--right {
      flex: 1;
    }
  }
}

.basic1 {
  .male {
    padding: 10px 34px;
    border-radius: 30px;
    // background: #f8f8f8;
    // border: 0.0625rem solid #ced4da !important;
    border: 0.0625rem solid transparent !important;
    background-color: #f1f3f5 !important;
  }
  .mantine-2s83yj {
    background-color: #f8f8f8 !important;
    opacity: 0.5 !important;
  }
  .mantine-1fn9nxy {
    background-color: #f8f8f8 !important;
    opacity: 0.5 !important;
  }
  .mantine-1u4id77 {
    background-color: #f8f8f8 !important;
    opacity: 0.5 !important;
  }
}

.basic3 {
  .congrats_text {
    color: #474748;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 153.333% */
  }
  .congrats_text_sub {
    color: #474748;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    color: #474748;
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .success_btn {
    width: 170px;
    height: 56px;
    background-color: #f42a41;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .clr {
    background: rgba(244, 42, 65, 0.1);
    color: rgba(0, 0, 0, 0.7);
  }
}
