.profile-creation {
    background-color: $primaryColor;
    min-height: 100vh;

    &__form {
        background-color: $whiteColor;
        min-height: 95vh;
        max-width: 90%;

        @include lgMinBreakPoint {
            max-width: 50%;
        }
    }
}