.vision {
    // margin-top: 80px;
    background-image: url("/landing/Ellipse 46.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 300px;
    // margin: 10px;

    @include smMaxBreakPoint {
        margin-top: 15px;
    }

    &__wrapper {
        &--left {
            margin: auto;
        }

        h2 {
            font-weight: 600;
        }

        p {
            color: $secondaryColor;
        }

        &--right {
            img {
                max-width: 100%;
                object-fit: cover;
                height: 400px;

                @include smMaxBreakPoint {
                    margin-top: 15px;
                    img{
                        height: auto;
                        width: auto;
                    }
                }
            }
        }
    }
}

.visionContainer {
    background-image: url("/landing/Ellipse 48.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 170px;

    .list-item {
        p {
            font-weight: 500;
        }
    }
    @include smMaxBreakPoint{
        img{
            height: auto;
            width: auto;
        }
    }
}

.testimonial {
    background-image: url("/landing/Subtract.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50px;
    padding: 80px 20px;

    @include smMaxBreakPoint {
        padding: 20px;
    }
}