.loginComp {

    &__wrapper {
        padding: 30px;

        &--right {
            @include mdMaxBreakPoint {
                grid-row: 1;
            }

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;

                @include lgMaxBreakPoint {
                    height: 200px;
                    display: none;
                }

                @include smMaxBreakPoint {
                    height: 200px;
                }
            }
        }
    }
}