.faqs {
    // background-color: #3c3b6e;
    background-image: url("/landing/faq-bg2.svg"), url("/landing/faq-bg.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    padding-top: 80px;

    hr {
        border: 1px solid black;
    }

    .mantive-custom_accordion {
        // background-color: $secondaryColorV3 !important;
        // background: linear-gradient(90deg, #A035FF 0%, #770DD5 20%, #770DD5 100%) !important;
        color: white;
        margin-top: 15px;
        border-radius: 10px !important;
        // padding: 10px 0;
    }

    .mantine-15l0h0l:first-of-type {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0.25rem;
    }

    .mantive-custom_accordion [data-active="true"] {
        /* Attribute has this exact value */
        background-color: $secondaryColorV3 !important;

        .mantine-Accordion-panel {
            background-color: $secondaryColorV3 !important;
            color: white !important;
        }

        span {
            background-color: $secondaryColorV3 !important;
            color: white !important;
        }
    }

    .mantine-Accordion-item {
        background-color: white;

        button {
            color: black !important;
        }

        .mantine-Accordion-panel {
            color: black !important;

        }
    }

    .mantine-140jman {
        background-color: $secondaryColorV3 !important;
    }

    .mantine-Accordion-content {
        // opacity: 0.8;
        color: white;
    }

    .mantive-custom_accordion:hover {
        background-color: white !important;
        border-radius: 10px;

    }

    .mantine-Accordion-item {
        border-radius: 10px;

    }

    .mantive-custom_control {
        color: white;
        font-size: 18px;
    }

    .mantive-custom_control:hover {
        background-color: white;
        border-radius: 10px;

    }
}