.faqs {
    background-color: #3c3b6e;

    .mantive-custom_accordion {
        background-color: #3c3b6e !important;
        color: white;
    }

    .mantive-custom_accordion:hover {
        background-color: #3c3b6e;
    }

    .mantive-custom_control {
        color: #e6a8ae;
        font-size: 18px;
    }

    .mantive-custom_control:hover {
        background-color: #3c3b6e;
    }
}