.faqs {
    // background-color: #3c3b6e;
    background-image: url("/landing/faq-bg2.svg"), url("/landing/faq-bg.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;

    hr {
        border: 1px solid black;
    }

    .mantive-custom_accordion {
        background-color: $secondaryColorV3 !important;
        // background: linear-gradient(90deg, #A035FF 0%, #770DD5 20%, #770DD5 100%) !important;
        color: white;
        margin-top: 15px;
        border-radius: 10px;
        padding: 10px 0;
    }

    .mantive-custom_accordion [data-active="true"] {
        /* Attribute has this exact value */
        // background-color: $primaryColorV3 !important;

    }

    .mantine-Accordion-content {
        opacity: 0.8;
    }

    .mantive-custom_accordion:hover {
        background-color: $secondaryColorV3 !important;
        border-radius: 10px;

    }

    .mantine-Accordion-item {
        border-radius: 10px;

    }

    .mantive-custom_control {
        color: white;
        font-size: 18px;
    }

    .mantive-custom_control:hover {
        background-color: $secondaryColorV3;
        border-radius: 10px;

    }
}