$search-color: #ccc; // Color for search icon
.navbarRoot {
  // background-color: $primaryColor;
  background: #9908f5;
  padding: 10px 0;

  &__logo img {
    max-width: 100%;
    height: 75px;
    object-fit: contain;

    @include smMaxBreakPoint {
      height: 42px;
    }

    cursor: pointer;
  }

  // SearchInput.scss

  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;

    .search-icon {
      position: absolute;
      left: 10px;
      color: #aaa; // Adjust the color as needed
    }

    .search-input {
      padding-left: 30px; // Adjust padding to accommodate icon
      border: 1px solid #ccc; // Define your desired border styles
      border-radius: 5px;
      height: 40px; // Set your preferred height
      width: 300px; // Set your preferred width
      font-size: 16px; // Define your desired font size
      outline: none; // Remove default input outline
    }
    @include getDown(768px) {
      display: none;
    }
  }
  .notification_main {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .indicator_m {
    margin: 15px auto;
  }
  .mantine-1gnuw89 {
    margin-top: 0 !important;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.links {
  position: absolute;
  // top: -700px;
  // left: -2000px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s ease;
  //   transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 20px;
  .user-profile {
    display: inline-block;
  }

  a {
    color: white;
    // font-size: 2rem;
    // display: block;
  }

  @media (min-width: 768px) {
    position: initial;
    margin: 0;

    a {
      font-size: 1rem;
      color: white;
      display: inline;
    }

    // display: block;
    display: flex;
    align-items: center;
  }
}

.links.active {
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1010;

  a {
    font-size: 1rem;
    margin-top: 1rem;
    color: white;
  }
}

.bigDiv {
  background-color: $primaryColor;
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 100%;
  height: 100%;
  //   z-index: -1;
  z-index: 1000;
  transition: all 0.6s ease;

  @media (min-width: 768px) {
    display: none;
  }

  &.active {
    border-radius: 0 0 80% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.burguer {
  @media (min-width: 768px) {
    display: none;
  }
}

@media (min-width: 768px) {
  .burguer .icon-menu {
    display: none;
  }

  .burguer .icon-close {
    display: none;
  }
}

@media (min-width: 769px) {
  .burguer .icon-menu {
    display: none;
  }
}
