@import './mixins';

h1 {
    font-weight: 400;
    // font-size: 34px;
    font-size: 28px;
    line-height: 1.2em;
    margin: 0;
    // color: $secondaryColorLight;
    color: black;
    font-family: 'Inter', sans-serif;

    @include smMinBreakPoint {
        font-size: 60px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        line-height: 84.72px;
        letter-spacing: 0em;

    }
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    margin: 0;
    color: black;
    font-family: 'Inter', sans-serif;

    @include smMinBreakPoint {
        font-size: 56px;
        font-weight: 500;
        line-height: 67.77px;
    }
}

h3 {
    margin: 0;
    color: #000000CC;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;


    @include smMaxBreakPoint {
        font-weight: 400;
        padding: 0 5px;
        margin-top: 5px;
        font-size: 22px;
        font-family: 'Inter', sans-serif;

    }

    // @include customMinBreakPoint(400) {
    //     font-size: 18px;
    // }
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    margin: 0;
    // color: #713ABE;
    font-family: 'Inter', sans-serif;



    @include smMaxBreakPoint {
        font-size: 18px;
        font-weight: 400;
        padding: 0 5px;
        margin-top: 5px;
    }

    @include customMinBreakPoint(400) {
        font-size: 22px;
    }
}

p {
    // font-style: normal;
    // font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #00000099;
    font-family: 'Inter', sans-serif;

    @include smMinBreakPoint {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;

    }
}

.secondary-text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #00000099;
    font-family: 'Inter', sans-serif;

    @include smMinBreakPoint {
        font-size: 18px;
        font-weight: 500;
        line-height: 34px;

    }
}

.typography__subhead {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.03em;
    margin-top: 14px;

    @include smMinBreakPoint {
        font-size: 26px;
    }
}

.small-text {
    font-size: 14px;
}